<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

    <system.net>
        <connectionManagement>
            <add address = "*" maxconnection = "512" />
        </connectionManagement>
    </system.net>
  <appSettings>
    <add key="useProxy" value="false"/>
    <add key ="proxySource" value="xicidaili"/>
    <!--<add key ="url" value="http://erweima.ping10.cn/m/guestbook.php?tpid=1&amp;xxid=173"/>-->
    <add key ="url" value="http://erweima.ping10.cn/m/guestbook.php?tpid=2&amp;xxid=135"/>
  </appSettings>
</configuration>